
body {
  background-color: #b6b4ac;
}
.title {
    color: rgb(8, 8, 37);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    
}
.form-style {
  background-color: rgb(230, 125, 125);
  border: 1px solid rgb(253, 253, 255);
  border-radius: 4px;
  color: rgb(242, 242, 253);
  font-family: "Montserrat";
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 500px;
}

.form-control {
  display: block;
  font-family: "Montserrat";
  width: 100%;
}

